{% if articles_page.has_previous() or articles_page.has_next() %}
<div style="text-align: center;">
<ul class="pagination">

    {% if articles_page.has_previous() %}
        <li><a href="{{ SITEURL }}/{{ articles_paginator.page(1).url}}">{{ FIRST_TEXT|default('first') }}</a></li>
    {% else %}
        <li class="disabled"><span>{{ FIRST_TEXT|default('first') }}</span></li>
    {% endif %}

    {% for i in range(1, articles_paginator.num_pages + 1) %}
        {% if i == articles_page.number %}
            <li class="active"><span>{{ i }}</span></li>
        {% else %}
            <li><a href="{{ SITEURL }}/{{ articles_paginator.page(i).url }}" class="page gradient">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if articles_page.has_next() %}
        <li><a href="{{ SITEURL }}/{{ articles_paginator.page(articles_paginator.num_pages).url}}">{{ LAST_TEXT|default('last') }}</a></li>
    {% else %}
        <li class="disabled"><span>{{ LAST_TEXT|default('last') }}</span></li>
    {% endif %}
</ul>
</div>
{% endif %}
