{% if articles_page.has_previous() or articles_page.has_next() %}
<div class="pagination">

    {% if articles_page.has_previous() %}
        <a href="{{ SITEURL }}/{{ articles_paginator.page(1).url}}" class="page gradient">{{ FIRST_TEXT|default('first') }}</a>
        ...
        <a href="{{ SITEURL }}/{{ articles_paginator.page(articles_page.number - 1).url}}" class="page gradient">{{ articles_page.number - 1 }}</a>
    {% endif %}

    <span class="page active">{{ articles_page.number }}</span>

    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ articles_paginator.page(articles_page.number + 1).url}}" class="page gradient">{{ articles_page.number + 1 }}</a>
        ...
        <a href="{{ SITEURL }}/{{ articles_paginator.page(articles_paginator.num_pages).url}}" class="page gradient">{{ LAST_TEXT|default('last') }}</a>
    {% endif %}

</div>
{% endif %}
